FinanceDataMigrationApi/serverless.yml
service: finance-data-migration-api
provider:
  name: aws
  timeout: 300
  runtime: dotnetcore3.1
  vpc: ${self:custom.vpc.${opt:stage}}
  stage: ${opt:stage}
  region: eu-west-2

  environment:
    CONNECTION_STRING: Data Source=${ssm:/housing-finance/${self:provider.stage}/db-host},${ssm:/housing-finance/${self:provider.stage}/db-port};Initial Catalog=${ssm:/housing-finance/${self:provider.stage}/db-database};Integrated Security=False;User Id=${ssm:/housing-finance/${self:provider.stage}/db-username};Password=${ssm:/housing-finance/${self:provider.stage}/db-password};Encrypt=False;TrustServerCertificate=False;MultipleActiveResultSets=True;
    WAIT_DURATION: ${ssm:/finance-data-migration/${self:provider.stage}/step-function-wait-duration}
    BATCH_SIZE: ${ssm:/finance-data-migration/${self:provider.stage}/bulk-insert-batch-size}
    LOAD_COUNT: ${ssm:/finance-data-migration/${self:provider.stage}/scan-limit}
    ACCEPTED_ORIGINS: ${ssm:/finance-data-migration/${self:provider.stage}/cors-accepted-origins}
    FINANCIAL_TRANSACTION_API_URL: ${ssm:/housing-finance/${self:provider.stage}/financial-transaction-api-url}
    FINANCIAL_TRANSACTION_API_TOKEN: ${ssm:/housing-finance/${self:provider.stage}/financial-transaction-api-token}
    SEARCH_API_URL: ${ssm:/housing-tl/${self:provider.stage}/search-api-url}
    SEARCH_API_TOKEN: ${ssm:/housing-finance/${self:provider.stage}/search-api-key}
    PERSON_API_URL: ${ssm:/housing-tl/${self:provider.stage}/person-api-url}
    PERSON_API_TOKEN: ${ssm:/housing-tl/${self:provider.stage}/person-token}

package:
  artifact: ./bin/release/netcoreapp3.1/finance-data-migration-api.zip

functions:
  FinanceDataMigrationApi:
    name: ${self:service}-${self:provider.stage}
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.LambdaEntryPoint::FunctionHandlerAsync
    role: lambdaExecutionRole
    events:
      - http:
          path: /{proxy+}
          method: ANY
          cors:
            origin: '*'
            headers:
              - Content-Type
              - If-Match
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
              - x-correlation-id
            allowCredentials: false
  downloadTenureToIfs:
    name: ${self:service}-${self:provider.stage}-download-tenure
    description: "The scheduler to download tenure data for migration of accoutn and transaction entities. Run at 12:15 AM"
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::DownloadTenureToIfs
    role: lambdaExecutionRole
    #events:
    #  - schedule: cron(15 20 * * ? *)
  downloadAssetToIfs:
    name: ${self:service}-${self:provider.stage}-download-assets
    description: "The scheduler to download asset data for migration of charges entities. by calling Asset elastic search endpoint."
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::DownloadAssetToIfs
    role: lambdaExecutionRole
    #events:
    #  - schedule: cron(15 20 * * ? *)
  loadCharge:
    name: ${self:service}-${self:provider.stage}-load-charge
    description: "The scheduler to load charge data for migration of charge entity. Run at 12:15 AM"
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::LoadCharge
    role: lambdaExecutionRole
    #events:
    #    - schedule: cron(15 0 * * ? *)
  extractCharge:
    name: ${self:service}-${self:provider.stage}-extract-charge
    description: "The scheduler to extract charge data for migration of charge entity. Run at 12:15 AM"
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::ExtractCharge
    role: lambdaExecutionRole
  transformTransactions:
    name: ${self:service}-${self:provider.stage}-transform-transactions
    description: "The scheduler to transform the extracted Transaction entity data to be migrated. "
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::TransformTransactions  
    role: lambdaExecutionRole
  loadTransactions:
    name: ${self:service}-${self:provider.stage}-load-transactions
    description: "The scheduler to load the transformed Transaction entity data to the final solution. "
    timeout: 900
    handler: FinanceDataMigrationApi::FinanceDataMigrationApi.Handler::LoadTransactions  
    role: lambdaExecutionRole
stepFunctions:
  stateMachines:
    downloadingAsset:
      name: DmDownloadingAsset
      event:
        - schedule: cron(0/5 * * * ? *)
      definition:
        Comment: "Download asset information by calling asset information elastic get batch endpoint."
        StartAt: DownloadAssetToIfs
        States:
          DownloadAssetToIfs:
            type: Task
            Resource:
              Fn::GetAtt: [downloadAssetToIfs, Arn]
            Retry:
              - ErrorEqual:
                - States.All
                IntervalSeconds: 30
                MaxAttempts: 3
                BackoffRate: 2
            Next: Wait_1
          Wait_1:
              Type: Wait
              TimestampPath: $.NextStepTime
              Next: Choice_1
          Choice_1:
            Type: Choice
            Choices:
              - Variable: $.Continue
                BooleanEquals: true
                Next: DownloadAssetToIfs
              #- Variable: $.Continue
              #  BooleanEquals: false
              #  Next: ImportCashFileTransactions
      dependsOn: lambdaExecutionRole
      tags:
        Team: HousingFinance
resources:
  Resources:
    lambdaExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /${self:service}/${self:provider.stage}/
        RoleName: ${self:service}-lambdaExecutionRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
          - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        Policies:
          - PolicyName: manageLogs
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:logs'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'log-group:/aws/lambda/*:*:*'
                - Effect: "Allow"
                  Action:
                    - "s3:PutObject"
                    - "s3:GetObject"
                  Resource:
                    Fn::Join:
                      - ""
                      - - "arn:aws:s3:::"
                        - "Ref": "ServerlessDeploymentBucket"
          - PolicyName: lambdaInvocation
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "lambda:InvokeFunction"
                  Resource: "*"
          - PolicyName: transactionsDynamoDBAccess
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "dynamodb:BatchGet*"
                    - "dynamodb:PutItem*"
                    - "dynamodb:DescribeStream"
                    - "dynamodb:DescribeTable"
                    - "dynamodb:Get*"
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Transactions'
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Transactions/index/*'
                - Effect: Allow
                  Action:
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Transactions/index/*'
          - PolicyName: accountDynamoDBAccess
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "dynamodb:BatchGet*"
                    - "dynamodb:PutItem*"
                    - "dynamodb:DescribeStream"
                    - "dynamodb:DescribeTable"
                    - "dynamodb:Get*"
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Accounts'
                - Effect: Allow
                  Action:
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Accounts/index/*'
          - PolicyName: chargesDynamoDBAccess
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "dynamodb:BatchGet*"
                    - "dynamodb:PutItem*"
                    - "dynamodb:DescribeStream"
                    - "dynamodb:DescribeTable"
                    - "dynamodb:Get*"
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Charges'
                - Effect: Allow
                  Action:
                    - dynamodb:Query
                    - dynamodb:Scan
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/Charges/index/*'
          - PolicyName: tenureinformationDBAccess
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - "dynamodb:BatchGet*"
                    - "dynamodb:DescribeStream"
                    - "dynamodb:DescribeTable"
                    - "dynamodb:Get*"
                    - "dynamodb:Query"
                    - "dynamodb:Scan"
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/TenureInformation'
                - Effect: Allow
                  Action:
                    - dynamodb:Query
                    - dynamodb:Scan
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:dynamodb'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'table/TenureInformation/index/*'
custom:
  vpc:
    development:
      securityGroupIds:
        - sg-0b1844c4c2d5096a2
      subnetIds:
        - subnet-0140d06fb84fdb547
        - subnet-05ce390ba88c42bfd
    staging:
      securityGroupIds:
        - sg-00c197e980177983d
      subnetIds:
        - subnet-0743d86e9b362fa38
        - subnet-0ea0020a44b98a2ca
    production:
      securityGroupIds:
        - sg-02a377899622e884c
      subnetIds:
        - subnet-0beb266003a56ca82
        - subnet-06a697d86a9b6ed01

plugins:
  - serverless-step-functions
